@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
